{% extends 'type_page/base.html' %}


{% block currently %}
    <H2>UPCOMMING TYPES</H2>
<span>Current Time :  {{ now }}</span><br>
        <br>
    {% for type in currently_types %}

            <div class="bet_day_currenlty" style="border: 2px solid white">

                <div class="title" >
                    {{ type.first_team }} vs. {{ type.second_team }}<br>
                    League, {{ type.league }}<br>
                        Start time: {{ type.date_game }}
                </div>

                <div>Bet:  {{ type.bet }} units </div>

                <div>Course: {{ type.course }}
                </div>

                <div>Predicted won: {{ type.total }} units </div>
                      {% if type.comments %}  {{ type.comments }}  {% endif %}
            </div><br>
    {% empty %}
        THERE ARE NOT ANY MATCHES IN THE FUTURE YET . . . JUST WAIT ;)

    {% endfor %}

{% endblock %}