{% extends 'type_page/base.html' %}

{% block football %}
<div class="date">
    <h1>HISTORY</h1><br><strong>  {{ today }}  </strong><br><br>

</div>



    {% for bet in type %}


        {% if bet.total >= 0  %}

        <div class="bet_day_won"  >

            <div class="title" >
                {{ bet.first_team }} vs. {{ bet.second_team }}<br>
                League, {{ bet.league }}<br>
                    {{ bet.date_game }}
            </div>

            <div>Bet:  {{ bet.bet }} units </div>

            <div>Course: {{ bet.course }}
            </div>

            <div>Won:   <span style="color:yellowgreen">{{ bet.total }} units</span></div>
                  {% if bet.comments %}  {{bet.comments}}  {% endif %}
        </div>
        <br>
        {% endif %}



        {% if bet.total < 0 %}

        <div class="bet_day_lost"  >

            <div class="title" >
                {{ bet.first_team }} vs. {{ bet.second_team }}<br>
                League, {{ bet.league }}<br>
                    {{ bet.date_game }}
            </div>

            <div>Bet:  {{ bet.bet }} units </div>

            <div>Course: {{ bet.course }}
            </div>

            <div>LOST:  <strong> <span style="color:darkred">{{ bet.total }} units</span></div></strong>
                 {% if bet.comments %}  {{bet.comments}}  {% endif %}
        </div>
        <br>
        {% endif %}



    {% empty %}
        NO MATCHES YET ..BE PATIENT ;) <br><br>
    {% endfor %}


<div class="summary" style="background-color:#333333">

    {% if total >= 0 %}
    SUMMARY OF DAY: <br>

    Bet: {{ sum }} units <br>
<span class="total">WON:</span> <span style="color:yellowgreen">{{ total }} units / {{ yields }} %</div></span>
    {% endif %}
<br>

  {% if total < 0 %}
    SUMMARY OF DAY: <br>

    Bet: {{ sum }} units <br>
<span class="total">LOST:</span> <span style="color:darkred">{{ total }} units / {{ yields }} %</div></span>
    {% endif %}
<br>



<a href="{% url 'draw-by-day-history' date_url=yesterday %}" class="btn-default" id="y"><<<<<- {{ yesterday }}</a>

{% endblock %}




