{% extends 'type_page/base.html' %}




{% block login %}


    <form action="{% url 'login' %}" method="POST">{% csrf_token %}

        {{ form }}
        <input type="submit" value="LOGIN">
    </form>

{% endblock %}


{% block user %}
On our website we already have  <b><big>{{ users }}</big></b> users.
                Do not waste your time. Join to us.
{% endblock %}



{% block draw %}


    {% if sum_t >= 0 %}

    <br>
    <div class="month_won" ><strong>{{ month }} {{ this_year }}</strong><br>
        Accuracy:<span class="m"> <strong> {{ accuracy|floatformat:"1" }} %</strong> </span>
            (<small> {{ draws_ok_t }} / {{ draws_t }} </small>)<br>
    <span class="total_won">Won:</span> <span class="sum_t"> {{ sum_t }} units</span>
    </div> <br>

    {% endif %}

    {% if  sum_t  < 0 %}

    <br>
    <div class="month_lost" ><strong>{{ month }} {{ this_year }}</strong><br>
        Accuracy:<span class="m"> <strong> {{ accuracy|floatformat:"1" }} %</strong> </span>
            (<small> {{ draws_ok_t }} / {{ draws_t }} </small>)<br>
    <span class="total_lost">LOST:</span> <span class="sum_t"> {{ sum_t }} units</span>
    </div> <br>

    {% endif %}


    {% if sum_p  >= 0 %}

    <div class="prev_month_won" ><strong>{{ prev_month_name }} {{ this_year }}</strong><br>
    Accuracy:<span class="pm"> <strong> {{ accuracy_p|floatformat:"1" }} %</strong></span>
            (<small> {{ draws_ok_p }} / {{ draws_p }} </small>)<br>
        <span class="total_won">Won:</span> {{ sum_p }} units
    </div><br><br>

    {% endif %}



    {% if sum_p  < 0 %}
    <div class="prev_month_lost" ><strong>{{ prev_month_name }} {{ this_year }}</strong><br>
    Accuracy:<span class="pm"> <strong> {{ accuracy_p|floatformat:"1" }} %</strong></span>
            (<small> {{ draws_ok_p }} / {{ draws_p }} </small>)<br>
        <span class="total_lost">LOST:</span> {{ sum_p }} units
    </div><br><br>
    {% endif %}


    {% if  sum_y >= 0 %}

    <div class="year_won" ><strong>{{ this_year }}</strong><br>
    Accuracy:<span class="y"><strong> {{ accuracy_y|floatformat:"1" }} %</strong></span>
        (<small> {{ draws_ok_y }} / {{ draws_y }} </small>)<br>
    <span class="total_won">Won:</span> {{ sum_y }} units
    </div><br>

    {% endif %}


    {% if  sum_y  < 0 %}
    <div class="year_lost" ><strong>{{ this_year }}</strong><br>
    Accuracy:<span class="y"><strong> {{ accuracy_y|floatformat:"1" }} %</strong></span>
        (<small> {{ draws_ok_y }} / {{ draws_y }} </small>)<br>
    <span class="total_lost">LOST:</span> {{ sum_y }} units
    </div><br>
    {% endif %}



{% endblock %}


