{% extends 'type_page/base.html' %}


{% block last %}

    <H2>LAST ADDED TYPE</H2><br>



            <div class="bet_day_last" style="border: 2px solid white">

                <div class="title" >
                    {{ last_type.first_team }} vs. {{ last_type.second_team }}<br>
                    League, {{ last_type.league }}<br>
                       Start time: {{ last_type.date_game }}
                </div>

                <div>Bet:  {{ last_type.bet }} units </div>

                <div>Course: {{ last_type.course }}
                </div>

                <div>Predicted won: {{ last_type.total }} units </div>
                      {% if last_type.comments %}  {{last_type.comments}}  {% endif %}
            </div>
        <br><br>

                  <div class="col-md-offset-2" >

            <a  href="{% url 'last-added' %}" class ="btn btn-warning btn-lg"> LAST ADDED  </a>
            <a  href="{% url 'currently' %}"  class ="btn btn-warning btn-lg"> UPCOMMING </a>
            <a  href="{% url 'unresolved' %}" class ="btn btn-warning btn-lg", style="width:120px">    LIVE   </a>
            <a  href="{% url 'draw-history' %}" class ="btn btn-warning btn-lg "> ARCHIVES </a>

            </div>
{% endblock %}