{% extends 'type_page/base.html' %}


{% block unresolved %}
    <H1>UNRESOLVED TYPES</H1>
<span>Current Time :  {{ now }}</span><br>
            <br>
        {% for type in unresolved_types %}

            <div class="bet_day_unresolved" style="border: 2px solid white">

                <div class="title" >
                    {{ type.first_team }} vs. {{ type.second_team }}<br>
                    League, {{ type.league }}<br>
                        {{ type.date_game }}
                </div>

                <div>Bet:  {{ type.bet }} units </div>

                <div>Course: {{ type.course }}
                </div>

                <div>Predicted won: {{ type.total }} units </div>
                      {% if type.comments %}  {{ type.comments }}  {% endif %}
            </div><br>
            {% empty %}
                THERE ARE NOT ANY MATCHES NOW  ..BE PATIENT ;)
            {% endfor %}
{% endblock %}>