body {

    link: #116493 ;
  ;

}

body {
    background: #474747;
    color: #2aabd2 ;
    font-size: 15px;
    text-align: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 20px;

}


footer{

    clear: both;

}



div.logo{

    font-size: 40px;
    color: #3498db;

}


a.login{

    margin: auto;
}


div.container{

    background-color: #404040;
    height: auto;
    color: white;


}

div.main>span{

    font-size: 18px;
    color:whitesmoke;
}

div#sign_up {

    background-color: #FF4C00;
    width: 200px;
    height: 30px;
    border-radius: 10px;


}

div#sing_up>a.link{

    color:black;
    font-size: 30px;

}

div#sign_up{

    background-color: whitesmoke;

}

span#create {

    margin: auto;
    color: darkslategray;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

div#log {

    margin-left: 20px;
    height: 200px;

}

div#new{
    background-color: #1b6d85;
    width: 200px;
    height: 30px;
    border-radius: 10px;

}

a.logout {
    width: 60px;
    background-color: #725a00;
    color: #d0c18d;

}

.bet{
    height: 165px;
    width: 675px;
    border: solid 10px antiquewhite ;

}



.date > span.dat{
    color: #2aabd2;
}

a.btn#y{
    font-size: 30px !important;
    color: #1b6d85 !important;
}

div.bet{

    border: solid;

}

div.footer{

    height: auto;
}


.month_won{

    border: solid 4px greenyellow;

}


.prev_month_won{

    border: solid 4px greenyellow;

}

.year_won{

    border: solid 4px greenyellow;
}



.month_lost{

    border: solid 4px darkred;

}

.prev_month_lost{

    border: solid 4px darkred;

}

.year_lost{

    border: solid 4px darkred;
}


.total_won{
    color: greenyellow;
}

.total_lost{
    color: darkred;
}

div.draw{

    width: 400px;
}
div.bet_day_currenlty{

    width: 400px;
}


div.bet_day_last{

    width: 400px;
}


div.bet_day_unresolved{

    width: 400px;
}

div.bet_day_retired{

    width: 400px;
    border: solid 4px mediumblue;
}



div.bet_day_won{

    width: 400px;
    border: solid 4px greenyellow;
}



div.summary{

    width: 400px;
}

div.title{
    background-color: #2C2C2C;
}

div.bet_day_lost{

    width: 400px;
    border: solid 4px darkred;
}

div.create{

    color: #3498db;
    width: 540px;
}

div.col-md-offset-2{
    align-content: center;
}

div.bet_day_unresolved
{
    border: 2px solid whitesmoke;
}
