body {

    link: #116493 ;
    vlink: #116493 ;
    alink: #116493 ;

}

body {
    background: #404040;
    color: white;
    font-size: 15px;


}


footer{

    clear: both;


}

div.logo{

    font-size: 40px;
    color: #3498db;

}


a.login{

    margin: auto;
}


div.container{

    background-color: #404040;
    height: auto;



}

div.main>span{

    font-size: 18px;
    color:whitesmoke;
}

div#sign_up {

    background-color: #FF4C00;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    float: left;

}

div#sing_up>a.link{

    color:black;
    font-size: 30px;

}

div#sign_up{

    background-color: whitesmoke;
    float: left;

}

span#create {

    margin: auto;
    color: darkslategray;
    font-size: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

div#log {

    margin-left: 20px;
    height: 200px;

}

div#new{
    background-color: #1b6d85;
    width: 200px;
    height: 30px;
    border-radius: 10px;

}

a.logout {
    width: 60px;
    background-color: #725a00;
    color: #d0c18d;

}

.bet{
    height: 675px;
    width: 165px;
    border: solid 10px antiquewhite ;

}



.date > span.dat{
    color: #2aabd2;
}

a.btn#y{
    font-size: 30px !important;
    color: #1b6d85 !important;
}

div.bet{

    border: solid;

}

div.footer{

    height: auto;
}

.month{

    ttt;
    border: solid 4px white;
    padding-top: 30px;
    color: red !important;
}